@using System.Web.Optimization;

<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/bundles/styles")
</head>
<body>
    <div data-ng-app="korann">
        @RenderBody()
        
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/app")
    </div>
</body>
</html>
